.App{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

input{
  border-radius: 1.6rem;
}


.all-recipes-container{
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}